@Styles.Render("~/Content/Index.css")

<main>

    <div class="flex-column">
        <section class="presentazione col-md-4 " aria-labelledby="gettingStartedTitle">
       
            <h1 >Dobrodošli alla Pizzeria Nanà </h1>
            <button class="bottone btn btn-light ">@Html.ActionLink("Menu", "Index", "Prodotti")</button>
        </section>
       
    </div>
</main>